<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Face Recognition Based Attendance Management System</h1>

    <form method="POST" action="/register">
        <label for="name">Enter Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="enrollment">Enter Enrollment:</label>
        <input type="text" id="enrollment" name="enrollment" required>
        <br>
        <button type="submit">Take Images</button>
        <button type="reset">Clear</button>
    </form>

    <h2>Actions</h2>
    <div class="actions">
        <button class="action-button" onclick="location.href='/automatic_attendance'">Automatic Attendance</button>
        <button class="action-button" onclick="location.href='/check_students'">Check Registered Students</button>
        <button class="action-button" onclick="location.href='/manual_attendance'">Manually Fill Attendance</button>
    </div>
</body>
</html>
